.Textbox{
    color: white;
    overflow: hidden;
    margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
    background-color: dimgrey;
    height: auto;
    width: 1000px;
    padding-left: 10px;
}